In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as splt

In [9]:
df = pd.read_csv('fuel efficiency prediction.csv')

In [12]:
df.head

<bound method NDFrame.head of       CustomerID  Gender           Age         Food         Income  \
0              1    Male  1.900000e+01  2.540000e+01  1.500000e+01
1              2    Male  2.100000e+01  2.760000e+01  1.500000e+01
2              3  Female  2.000000e+01  2.680000e+01  1.600000e+01
3              4  Female  2.300000e+01  3.010000e+01  1.600000e+01
4              5  Female  3.100000e+01  3.920000e+01  1.700000e+01
...          ...     ...           ...           ...           ...
2084        2085    Male  5.920000e+06  1.345600e+07  2.320000e+07
2085        2086    Male  1.184000e+08  2.691200e+08  4.640000e+08
2086        2087    Male  2.368000e+09  5.382400e+09  9.280000e+09
2087        2088    Male  4.736000e+10  1.076480e+11  1.856000e+11
2088        2089    Male  9.472000e+11  2.152960e+12  3.712000e+12

         Education  Entartainment        Others
0     2.990000e+01   5.530000e+01  3.900000e+01
1     3.210000e+01   5.970000e+01  8.100000e+01
2     3.160000e+01            NaN  6.000000e+00
3     3.490000e+01   6.500000e+01  7.700000e+01
4     4.430000e+01   8.350000e+01  4.000000e+01
...            ...            ...           ...
2084  1.907200e+07   3.140800e+07  1.344000e+07
2085  3.814400e+08   6.281600e+08  2.688000e+08
2086  7.628800e+09   1.256320e+10  5.376000e+09
2087  1.525760e+11   2.512640e+11  1.075200e+11
2088  3.051520e+12   5.025280e+12  2.150400e+12

[2089 rows x 8 columns]>

In [4]:
df.shape

(2089, 8)

In [5]:
df.isnull().sum()

CustomerID       0
Gender           0
Age              2
Food             4
Income           2
Education        2
Entartainment    5
Others           3
dtype: int64

In [6]:
missingAge = df.Age.mean()

In [7]:
missingAge

477744469.9813129

In [8]:
df.Age=df.Age.fillna(missingAge)

In [9]:
missingFood = df.Food.mean()
missingFood
df.Food=df.Food.fillna(missingFood)

AttributeError: 'DataFrame' object has no attribute 'Food'

In [ ]:
missingIncome = df.Income.mean()
missingIncome
df.Income=df.Income.fillna(missingIncome)

In [ ]:
missingEducation = df.Education.mean()
missingEducation
df.Education=df.Education.fillna(missingEducation)

In [ ]:
missingEntartainment = df.Entartainment.mean()
missingEntartainment
df.Entartainment=df.Entartainment.fillna(missingEntartainment)

In [ ]:
missingOthers = df.Others.mean()
missingOthers
df.Others=df.Others.fillna(missingOthers)

In [10]:
df.isnull().sum()

CustomerID       0
Gender           0
Age              0
Food             4
Income           2
Education        2
Entartainment    5
Others           3
dtype: int64